body{
    cursor: url('vertcil.png'), auto;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.doodle{
    display:block;
    margin-left:auto;
    margin-right: auto;
    width: 90%;
}

.bun{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}